################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DogGogo/.vs/DogGogo/v15
/DogGogo/DogAccount/obj/Debug
/DogGogo/DogApi/obj/Debug
/DogGogo/DogPlatform/obj/Debug
/DogGogo/DogRunService/obj/Debug
/DogGogo/DogService/obj/Debug
/DogGogo/Test/obj/Debug
/DogGogo/packages
/DogGogo/DogAccount/bin/Debug
/DogGogo/DogPlatform/bin/Debug
/DogGogo/DogService/bin/Debug
/DogGogo/Test/bin/Debug
/DogGogo/DogApi/bin/Debug
/DogGogo/DogRunService/bin/Debug
/DogGogo/Alert/bin/Debug
/DogGogo/Alert/obj/Debug
/DogGogo/.vs/config
